[Unit]
Description=Eupnea update script
# Further description:
# This script is triggered by a eupnea-system update.

[Service]
Type=oneshot
# insert_package_list is replaced by the eupnea-update package with the appropriate package list
ExecStart=/usr/lib/eupnea/modify-packages insert_package_list
RemainAfterExit=false
StandardOutput=journal
