# This one-shot unit is responsible for fixing touchscreens on some chromebooks
# It needs to be run on every boot
[Unit]
Description=Fix various touchscreens
After=display-manager.service


[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/lib/eupnea/fix-touchscreen.sh

[Install]
WantedBy=graphical.target
