[Unit]
Description=Eupnea update package installer
# Further description:
# This script is created and triggered by a eupnea-system update.

[Service]
Type=simple
ExecStart=/usr/lib/eupnea/modify-packages
RemainAfterExit=false
StandardOutput=journal
